@model IDictionary<string, string>

@{
    ViewData["Title"] = "GeoJSON2Shp";
    string filePath = null;
    if (ViewBag.FilePath != null)
    {
        filePath = ViewBag.FilePath.Replace(@"\",@"/");
    }
}


    <div class="convert-wrapper row">
        <div class="paste-wrapper col-xl-5 col-md-12">
            <form>
                <div class="form-group" id="code-area">
                    <partial name="_TextArea" />
                </div>
            </form>
            <button type="submit" class="btn btn-primary mb-2" id="convert">Convert</button>
            @*<form enctype="multipart/form-data" asp-controller="home" asp-action="upload" id="upload-form">
                <div class="form-group">
                    <label asp-for="Zip" class="col-sm-2 col-form-label"></label>
                    <div class="input-field">
                        <div class="custom-file">
                            <input asp-for="Zip" class="form-control custom-file-input file-input">
                            <label class="custom-file-label file-label">Choose file</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2" id="upload">Upload SHP</button>
            </form>*@

            <form id="form" action="/home/upload" enctype="multipart/form-data" method="post">
               <div class="buttons">
                <div class="upload-button">
                    <div class="label">Click me!</div>
                    <input id="files" name="files" type="file" size="1" @*onchange="uploadFiles('files');"*@ />
                </div>
                </div>
        </form>

    </div>
    <div class="map-wrapper col-xl-7 col-md-12">
        <div id="map"></div>
        <form>
            <div class="form-group">

            </div>
        </form>
        <div class="show-hide">
            <button type="submit" class="btn btn-primary mb-2" id="download">Download SHP</button>
        </div>
    </div>
</div>

<script>
    var urlPost = "@Url.Action("Index", "Home")";
    var urlGet = "@Url.Action("PathJson", "Home")";
    var urlDelete = "@Url.Action("Delete", "Home")";
</script>
<script>

</script>

@*<script>
function uploadFiles(inputId) {
  var input = document.getElementById(inputId);
  var files = input.files;
        var formData = new FormData();
        

  for (var i = 0; i != files.length; i++) {
    formData.append("files", files[i]);
  }

  $.ajax(
    {
      url: "@Url.Action("Index", "Home")",
      data: formData,
      processData: false,
      contentType: false,
      type: "POST",
      success: function (data) {
          $.ajax(
              {
                  url: "@Url.Action("PathJson", "Home")",
                  type: "GET",
                  success: function (data) {
                      path = data.filepath;
                      alert("File uploaded!");
                  }


              });
      }
    }
  );
}

</script>*@

<script>
    var filePath = "@filePath";
</script>
